Options -Indexes

RewriteEngine on

RewriteRule ^api$ ./index.php [NC]


RewriteRule google https://www.google.com [NC,R=302]

RewriteRule ^painel/?$ ./index.php [NC]
RewriteRule ^painel/([a-z0-9]+)/?$ ./admin.php?chaveGet=$1 [NC]
RewriteRule ^painel/([a-z0-9]+)/([a-z0-9]+)/?$ ./admin.php?chaveGet=$1&segundaChaveGet=$2 [NC,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./router.php